.topbar, footer{
  text-align: center;
  background-color: #F7B14E;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}
.navbar{
  font-size: 1.3rem;
}
.navbar-brand{
  font-size: 1.3rem;
}
h2{
  color: black;
}
h4{
  color: white;
}

/*bring navbar menu to the right*/
.navbar-collapse{
  justify-content: flex-end;
}

.pattern{
  display: flex;
  flex-direction: row;
  color: grey;
  justify-content: space-around;
}
.product-range .pattern{
  display: flex;
  flex-direction: row-reverse;
}
.pattern-contd{
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 746px;
  align-items: center;
}
.pattern-contd button{
  width: 30%;
}
.about-us, .product-range, .why-us{
  margin: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}
.about-us h2{
  padding-bottom: 10px;
  text-align: center;
}
.product-range .pattern img{
  height: 390px;
}
.why-us .pattern img{
  height: 375px;
  width: 450px;
}


.bottom-bar{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
}

.about, .quick-links, .get-in-touch{
  width: 33.33%;
  padding-left: 15px;
  padding-right: 15px;
  color: grey;
}
.quick-links{
  display: flex;
  flex-direction: column;
}
.quick-links a{
  border-width: 2px;
  border-color: grey;
  border-style: solid;
  border-radius: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
  color: grey;
}
.quick-links a:hover{
  background-color: red;
  color: white;
}
footer{
  padding-top: 5px;
  padding-bottom: 5px;
}
body{
  background-color: #F4FBFB;
}

.partition{
  text-align: center;
}

/*--------------------PRODUCTS--------------*/

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.Products{
  margin: 25%;
  margin-top: 3%;
  margin-bottom: 3%;
}
table{
  width: 100%;
  text-align: center;
}
thead th{
  background-color: #D25F5F;
  color: white;
}
th{
  background-color: #A1D25F;
  color: white;
}
td{
  background-color: #5FCDD2;
  color: white;
}

.kickstart, .collab{
  text-align: justify;
   margin: 8%;
   margin-top: 3%;
   margin-bottom: 3%;
}

/* Other screens*/


@media screen and (max-width: 992px) {
  .pattern, .product-range .pattern{flex-direction: column; align-items: center;}
  .pattern-contd{max-width: 100%;}
  .pattern-contd button{margin-bottom: 15px;}
  .pattern img{max-width: 75%; max-height: 75%;}
  h2, h4, .about, .get-in-touch{text-align: center;}
  .product-range .pattern img{position: static; max-width: 100%;}
  .bottom-bar{flex-direction: column; align-items: center;}
  .about, .quick-links, .get-in-touch{width: 50%;}
  .quick-links{margin-bottom: 16px;}
  .Products{margin: 5%; margin-top: 3%; margin-bottom: 3%;}
}

@media screen and (max-width: 1430px) {
  .about-us .pattern{flex-direction: column; align-items: center;}
  .about-us .pattern img{max-width: 75%; max-height: 75%;}
  .about-us .pattern-contd{max-width: 100%;}
  .about-us .pattern-contd button{margin-bottom: 15px;}
  .Products{margin: 10%; margin-top: 3%; margin-bottom: 3%;}
}

@media screen and (max-width: 1200px) {
  .why-us .pattern{flex-direction: column; align-items: center;}
  .why-us .pattern img{position: static; max-width: 100%;}
  .why-us .pattern-contd{max-width: 100%;}
  .why-us h2{text-align: center;}
  .Products{margin: 15%; margin-top: 3%; margin-bottom: 3%;}
}

@media screen and (min-width:1600px) {
  body{margin: 10%;}
  .kickstart, .collab{margin: 20%; margin-top: 3%; margin-bottom: 3%;}
}
